__pycache__/
src/resources/datasets/Generative_Modeling_Datasets
src/resources/datasets/Predictive_Modeling_Datasets
src/biked_commons/benchmark_models/openai_files/
src/biked_commons/benchmark_models/results/
src/biked_commons/benchmark_models/libmoon/
BikeCAD_17.1_configuration/